@page
@model DetailsModel

@{
    ViewData["Title"] = $"{Localizer["Annahme"].Value} #{Model.Acceptance.Number}";
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
        <div><h5>@Model.Acceptance.TimeStamp</h5></div>
        <a asp-page="/ShowFile" asp-route-fileId="@Model.Acceptance.DocumentId" target="_blank" class="btn btn-primary mx-1 ml-auto">@Localizer["Beleg"]</a>
    </div>

    <div class="card-body">
        <partial name="/Pages/Sellers/_SmallDetails.cshtml" model="@Model.Acceptance.Seller" />
        <a velo-page="@Model.GetSellerDetailsPage()">@Localizer["Details"]</a>
    </div>
</div>

<div class="card my-3">
    <h5 class="card-header">@Localizer["Artikel"]</h5>
    <div class="card-body p-0">
        <partial name="/Pages/Products/_Table.cshtml" model="Model.Acceptance.Products.CreateListViewModel(VeloContext.Basar)" />
    </div>
</div>

<div Condition="@Model.Parameter.ShowSuccess" class="alert alert-success" role="alert">
    @Localizer["Annahme erfolgreich!"]
</div>

@section Scripts {
    @if (Model.Parameter.OpenDocument == true)
    {
        <script type="text/javascript">
        window.open("/ShowFile?basarId=@VeloContext.Basar.Id.ToString()&fileId=@Model.Acceptance.DocumentId.ToString()", "_blank");
        </script>
    }
}
