@page
@model BraunauMobil.VeloBasar.Pages.Acceptances.DetailsModel

@using BraunauMobil.VeloBasar.ViewModels;
@using BraunauMobil.VeloBasar.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@using VeloBasar.Resources
@addTagHelper *, BraunauMobil.VeloBasar

@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = $"{Html.DisplayNameFor(x => x.Acceptance)} #{Model.Acceptance.Number}";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>@Model.Acceptance.TimeStamp</p>
</div>

<partial name="/Pages/Sellers/_SmallDetails.cshtml" model="@new ViewModel<Seller>(Model.Basar, Model.Acceptance.Seller);" />

<partial name="/Pages/Products/_List.cshtml" model="@new ProductsViewModel(Model.Basar, Model.Acceptance.Products.Select(pa => pa.Product))" />

<p>
    @if (Model.Acceptance.DocumentId == null)
    {
        <a class="btn btn-default" asp-page="/Acceptances/Print" asp-all-route-data="@Model.GetRoute()" asp-route-acceptanceId="@Model.Acceptance.Number" target="_blank">@Localizer["Drucken"]</a>
    }
    else
    {
        <a class="btn btn-default" asp-page="/ShowFile" asp-route-fileId="@Model.Acceptance.DocumentId" target="_blank">@Localizer["Beleg"]</a>
    }
</p>
