@using Microsoft.Extensions.Localization
@model DataGeneratorConfiguration
@{
    Layout = "_LayoutSimple";
    ViewData.SetTitle(Localizer["DEV DANGER ZONE"]);
}

<form method="post">
    <div class="card m-2">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col"><img src="~/images/DangerZone/274px-DIN_4844-2_Warnung_vor_Laserstrahl_D-W010.svg.png" /></div>
                <div class="col"><img src="~/images/DangerZone/250px-Skull_and_Crossbones.svg.png" /></div>
                <div class="col"><img src="~/images/DangerZone/274px-Biohazard.svg.png" /></div>
            </div>
            <h2>DEV DANGER ZONE</h2>
            <h4>Drop Database and generate sample data, this can take very long!!</h4>
        </div>
        <div class="card-body">
            @VeloHtml.EmailInputField(nameof(Model.AdminUserEMail), Model.AdminUserEMail, Localizer["AdminUserEMail"])
            @VeloHtml.DateInputField(nameof(Model.FirstBasarDate), Model.FirstBasarDate, Localizer["FirstBasarDate"])
            @VeloHtml.NumberInputField(nameof(Model.BasarCount), Model.BasarCount, Localizer["BasarCount"])
            @VeloHtml.NumberInputField(nameof(Model.MinAcceptancesPerSeller), Model.MinAcceptancesPerSeller, Localizer["MinAcceptancesPerSeller"])
            @VeloHtml.NumberInputField(nameof(Model.MaxAcceptancesPerSeller), Model.MaxAcceptancesPerSeller,Localizer["MaxAcceptancesPerSeller"] )
            @VeloHtml.NumberInputField(nameof(Model.MinSellers), Model.MinSellers, Localizer["MinSellers"])
            @VeloHtml.NumberInputField(nameof(Model.MaxSellers), Model.MaxSellers, Localizer["MaxSellers"])
            @VeloHtml.NumberInputField(nameof(Model.MeanProductsPerSeller), Model.MeanProductsPerSeller, Localizer["MeanProductsPerSeller"])
            @VeloHtml.NumberInputField(nameof(Model.StdDevProductsPerSeller), Model.StdDevProductsPerSeller, Localizer["StdDevProductsPerSeller"])
            @VeloHtml.NumberInputField(nameof(Model.MeanPrice), Model.MeanPrice, Localizer["MeanPrice"])
            @VeloHtml.NumberInputField(nameof(Model.StdDevPrice), Model.StdDevPrice, Localizer["StdDevPrice"])
            @VeloHtml.CheckBoxField(nameof(Model.SimulateSales), Model.SimulateSales, Localizer["SimulateSales"])
            @VeloHtml.CheckBoxField(nameof(Model.GenerateCountries), Model.GenerateCountries, Localizer["GenerateCountries"])
            @VeloHtml.CheckBoxField(nameof(Model.GenerateBrands), Model.GenerateBrands, Localizer["GenerateBrands"])
            @VeloHtml.CheckBoxField(nameof(Model.GenerateProductTypes), Model.GenerateProductTypes, Localizer["GenerateProductTypes"])
            @VeloHtml.CheckBoxField(nameof(Model.GenerateZipCodes), Model.GenerateZipCodes, Localizer["GenerateZipCodes"])
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">@Localizer[VeloTexts.Ok]</button>
        </div>
    </div>
</form>
