@model AcceptProductModel
@inject ISelectListService SelectLists
@{
    ViewData.SetTitle(Localizer[VeloTexts.AcceptanceForSellerId, Model.SellerId]);
}

<form method="post">
    <div class="card m-2">
        @VeloHtml.TitleCardHeader()
        <div class="card-body">
            @VeloHtml.HiddenInput(nameof(Model.Entity.Id), Model.Entity.Id)
            @VeloHtml.HiddenInput(nameof(Model.Entity.SessionId), Model.Entity.SessionId)
            <div class="row">
                <div class="col-2">@VeloHtml.SelectField(nameof(Model.Entity.TypeId), Model.Entity.TypeId, await SelectLists.ProductTypesAsync(), Localizer[VeloTexts.ProductType], autoFocus: true)</div>
                <div class="col-2">@VeloHtml.DataListField(nameof(Model.Entity.Brand), Model.Entity.Brand, await SelectLists.BrandsAsync(), Localizer[VeloTexts.Brand])</div>
                <div class="col-3">@VeloHtml.TextInputField(nameof(Model.Entity.Color), Model.Entity.Color, Localizer[VeloTexts.Color])</div>
                <div class="col-4">@VeloHtml.TextInputField(nameof(Model.Entity.FrameNumber), Model.Entity.FrameNumber, Localizer[VeloTexts.FrameNumber])</div>
            </div>
            <div class="row">
                <div class="col-8">@VeloHtml.TextInputField(nameof(Model.Entity.Description), Model.Entity.Description, Localizer[VeloTexts.Description])</div>
                <div class="col-3">@VeloHtml.TextInputField(nameof(Model.Entity.TireSize), Model.Entity.TireSize, Localizer[VeloTexts.TireSize])</div>
                <div class="col-2">@VeloHtml.NumberInputField(nameof(Model.Entity.Price), Model.Entity.Price, Localizer[VeloTexts.Price])</div>
            </div>
            <div class="row">
                <div class="col">@VeloHtml.CheckBoxField(nameof(Model.Entity.DonateIfNotSold), Model.Entity.DonateIfNotSold, Localizer[VeloTexts.DonateIfNotSold])</div>
            </div>
        </div>
        <div class="card-footer">
            @if (Model.Entity.Id == 0)
            {
                <button class="btn btn-primary">@Localizer[VeloTexts.Add]</button>
            }
            else
            {
                <button class="btn btn-primary">@Localizer[VeloTexts.Update]</button>
                <a class="btn btn-secondary" href="@Router.AcceptProduct.ToCreate(Model.SessionId)">@Localizer[VeloTexts.Cancel]</a>
            }
        </div>
    </div>
</form>

<div class="card m-2">
    <div class="card-body p-0">
        @(VeloHtml.ProductsTable(Model.Products)
            .Column(c => c.AutoWidth().Align(ColumnAlign.Center).For(item => VeloHtml.ProductDonateableBadge(item)))
            .Column(c => c.ForLink(product => Router.AcceptProduct.ToEdit(product.Id), Localizer[VeloTexts.Edit]))
            .Column(c => c.ForLink(product => Router.AcceptProduct.ToDelete(product.SessionId, product.Id), Localizer[VeloTexts.Delete]))
            .Build()
            )
    </div>
    <div class="card-footer">
        <a class="btn btn-primary @VeloHtml.EnabledCss(Model.CanAccept)" href="@Router.AcceptSession.ToSubmit(Model.SessionId)">@Localizer[VeloTexts.SaveAcceptSession]</a>
        <a class="btn btn-danger" href="@Router.AcceptSession.ToCancel(Model.SessionId)">@Localizer[VeloTexts.Cancel]</a>
    </div>
</div>
