@page
@model BraunauMobil.VeloBasar.Pages.Basars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Basar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Basar.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basar.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Basar.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basar.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Basar.ProductCommission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basar.ProductCommission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Basar.ProductDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basar.ProductDiscount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Basar.SellerDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basar.SellerDiscount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Basar.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
