@page
@model DetailsModel

@{
    ViewData["Title"] = "Basar Details";
}

<div class="card-deck m-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@Localizer["{0} Annahmen", Model.BasarStatistic.AcceptedProductsCount]</h5></div>
        </div>
        <div class="card-body">
            <canvas id="AcceptedProductsCountChartArea"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@Localizer["{0:C} Angenommen", Model.BasarStatistic.AcceptedProductsAmount]</h5></div>
        </div>
        <div class="card-body">
            <canvas id="AcceptedProductsValueChartArea"></canvas>
        </div>
    </div>
</div>

<div class="card-deck m-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@Localizer["{0} Verkäufe", Model.BasarStatistic.SoldProductsCount]</h5></div>
        </div>
        <div class="card-body">
            <canvas id="SoldProductsCountChartArea"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@Localizer["{0:C} Verkauft", Model.BasarStatistic.SoldProductsAmount]</h5></div>
        </div>
        <div class="card-body">
            <canvas id="SoldProductsValueChartArea"></canvas>
        </div>
    </div>
</div>

<div class="card-deck m-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@Localizer["Preisverteilung"]</h5></div>
        </div>
        <div class="card-body">
            <canvas id="PriceDistributionChartArea"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Chart.min.js" asp-append-version="true"></script>
    <script>
        function renderData(id, config) {
            var ctx = document.getElementById(id).getContext('2d');
            window.myPie = new Chart(ctx, config);
        }

        window.onload = function () {
            renderData('AcceptedProductsCountChartArea', @Html.Raw(JsonUtils.GetDonutConfig(Model.BasarStatistic.AcceptedProductsByCount)));
            renderData('AcceptedProductsValueChartArea', @Html.Raw(JsonUtils.GetDonutConfig(Model.BasarStatistic.AcceptedProductsByAmount)));
            renderData('SoldProductsCountChartArea', @Html.Raw(JsonUtils.GetDonutConfig(Model.BasarStatistic.SoldProductsByCount)));
            renderData('SoldProductsValueChartArea', @Html.Raw(JsonUtils.GetDonutConfig(Model.BasarStatistic.SoldProductsByAmount)));
            renderData('PriceDistributionChartArea', @Html.Raw(JsonUtils.GetLineConfig(Model.BasarStatistic.PriceDistribution)));
        };
    </script>
}


