@page
@model EditModel

@{
    ViewData["Title"] = "Basar bearbeiten";
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" velo-page="@Model.GetListPage()" />
                <a velo-page="@Model.GetListPage()" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <div class="column">
                <input type="hidden" asp-for="BasarToEdit.Id" />
                <div class="form-group">
                    <label asp-for="BasarToEdit.Date" class="control-label"></label>
                    <input asp-for="BasarToEdit.Date" class="form-control" velo-validation-for="BasarToEdit.Date" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToEdit.Name" class="control-label"></label>
                    <input asp-for="BasarToEdit.Name" class="form-control" velo-validation-for="BasarToEdit.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToEdit.Location" class="control-label"></label>
                    <input asp-for="BasarToEdit.Location" class="form-control" velo-validation-for="BasarToEdit.Location" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToEdit.ProductCommissionPercentage" class="control-label"></label>
                    <input asp-for="BasarToEdit.ProductCommissionPercentage" class="form-control" velo-validation-for="BasarToEdit.ProductCommissionPercentage" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>