@page
@model BraunauMobil.VeloBasar.Pages.Basars.SelectOrCreateModel

@{
    ViewData["Title"] = Localizer["Basar auswählen"];
}

<h2>@Localizer["Bitte wählen Sie einen Basar aus"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Basars[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basars[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Basars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="/Index" asp-route-basarId="@item.Id">@Localizer["Auswählen"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
