@page
@model BraunauMobil.VeloBasar.Pages.Basars.SelectBasarModel

@{
    ViewData["Title"] = "Basare";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Neuen Basar anlegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Basars[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basars[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Basars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="/Index" asp-route-id="@item.Id">Auswählen</a>
            </td>
        </tr>
}
    </tbody>
</table>
