@model PageModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@Localizer[" - Velo Basar"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-2 d-none sidebar d-flex flex-column px-0">
                <div class="sidebar-sticky">
                    <h6 class="d-flex justify-content-between align-items-center mx-3 mt-3">
                        <partial name="/Pages/Basars/_Selection.cshtml" />
                    </h6>
                    @if (VeloContext.Basar != null)
                    {
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Basars.DetailsModel>(new Basars.DetailsParameter { BasarId = VeloContext.Basar.Id }))">@Localizer["Übersicht"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Acceptances.StartWithNewSellerModel>())">@Localizer["Neue Annahme"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Labels.SelectAcceptanceModel>())">@Localizer["Etiketten Drucken"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Sellers.ListModel>())">@Localizer["Verkäufer"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Products.ListModel>())">@Localizer["Artikel"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Sales.CartModel>())">@Localizer["Warenkorb"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Sales.ListModel>())">@Localizer["Verkäufe"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Cancellations.StartModel>())">@Localizer["Storno"]</a>
                            </li>
                        </ul>
                    }

                    <h6 class="d-flex justify-content-between align-items-center mx-3 mt-4">@Localizer["Administration"]</h6>
                    <ul class="nav flex-column mb-2">
                        @if (VeloContext.SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Setup.LogoutModel>())">@Localizer["Ausloggen"] - @UserManager.GetUserName(User)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Basars.ListModel>())">@Localizer["Basare"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Brands.ListModel>())">@Localizer["Marken"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<ProductTypes.ListModel>())">@Localizer["Artikel Typen"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Setup.PrintSettingsModel>())">@Localizer["Druckeinstellungen"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Setup.SettingsModel>())">@Localizer["Einstellungen"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<Setup.LoginModel>())">@Localizer["Einloggen"]</a>
                            </li>
                        }
                    </ul>

                    @if (VeloContext.Configuration.DevToolsEnabled())
                    {
                        <h6 class="d-flex justify-content-between align-items-center mx-3 mt-4">Dev</h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<DevTools.DangerZoneModel>())">Danger Zone!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<DevTools.DropDatabaseModel>())">Drop Database</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" velo-page="@(this.GetPage<DevTools.NextNumberTestModel>())">Next Number Test</a>
                            </li>
                        </ul>
                    }
                </div>

                <div class="mt-auto" id="debug">
                    <footer class="mx-3">
                        <p>&copy; 2019 - Braunau mobil</p>
                    </footer>
                </div>
            </nav>

            <main role="main" class="ml-auto col-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
