@model BasarPageModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@Localizer[" - Velo Basar"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-2 d-none sidebar d-flex flex-column px-0">
                <div class="sidebar-sticky">
                    <h6 class="d-flex justify-content-between align-items-center mx-3 mt-3">
                        @if (Model.Basar == null)
                        {
                            <a asp-page="/Basars/SelectOrCreate" class="navbar-brand">@Localizer["ACHTUNG! es ist kein Basar ausgewählt."]</a>
                        }
                        else
                        {
                            @Model.Basar.Name
                        }
                    </h6>
                    @if (Model.Basar != null)
                    {
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sellers/CreateOrEdit" asp-all-route-data="@Model.GetRoute()">@Localizer["Neue Annahme"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sellers/List" asp-all-route-data="@Model.GetRoute()">@Localizer["Verkäufer"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Products/List" asp-all-route-data="@Model.GetRoute()">@Localizer["Artikel"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sales/CreateOrEdit" asp-all-route-data="@Model.GetRoute()">@Localizer["Neuer Verkauf"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sales/List" asp-all-route-data="@Model.GetRoute()">@Localizer["Verkäufe"]</a>
                            </li>

                        </ul>
                    }

                    <h6 class="d-flex justify-content-between align-items-center mx-3 mt-4">@Localizer["Administration"]</h6>
                    <ul class="nav flex-column mb-2">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Setup/Logout">@Localizer["Ausloggen"] - @UserManager.GetUserName(User)</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Setup/Login" asp-all-route-data="@Model.GetRoute()">@Localizer["Einloggen"]</a>
                            </li>
                        }
                    </ul>

                    @if (Model.IsDebug)
                    {
                        <h6 class="d-flex justify-content-between align-items-center mx-3 mt-4">Dev</h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Setup/DangerZone">Danger Zone!</a>
                            </li>
                        </ul>
                    }
                </div>

                <div class="mt-auto" id="debug">
                    <footer class="mx-3">
                        <p>&copy; 2019 - Braunau mobil</p>
                    </footer>
                </div>
            </nav>

            <main role="main" class="ml-auto col-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
