@model BasarPageModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@Localizer[" - Velo Basar"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <h6 class="d-flex justify-content-between align-items-center mt-3 mb-3">
                        @if (Model.Basar == null)
                        {
                            <a asp-page="/Basars/SelectOrCreate" class="navbar-brand">@Localizer["ACHTUNG! es ist kein Basar ausgewählt."]</a>
                        }
                        else
                        {
                            @Model.Basar.Name
                        }
                    </h6>
                    @if (Model.Basar != null)
                    {
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sellers/CreateOrEdit" asp-all-route-data="@Model.GetRoute()">@Localizer["Neue Annahme"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sellers/List" asp-all-route-data="@Model.GetRoute()">@Localizer["Verkäufer"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Products/List" asp-all-route-data="@Model.GetRoute()">@Localizer["Artikel"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sales/CreateOrEdit" asp-all-route-data="@Model.GetRoute()">@Localizer["Neuer Verkauf"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Sales/List" asp-all-route-data="@Model.GetRoute()">@Localizer["Verkäufe"]</a>
                            </li>

                        </ul>
                    }

                    <h6 class="d-flex justify-content-between align-items-center mt-3 mb-3">
                        Admin
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Setup/DangerZone">Danger Zone!</a>
                        </li>
                    </ul>

                    <!-- Der Blöde Footer ist Breit wie der Viewport das sollte er aber nicht!-->
                    @*<div class="d-flex justify-content-between align-items-center px-3 mt-3 mb-3 fixed-bottom">
                            <footer>
                                <p>&copy; 2019 - Braunau mobil</p>
                                <partial name="_CookieConsentPartial" />
                            </footer>
                        </div>*@
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
