@model TransactionDetailsViewModel

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div class="mr-auto"><h5>@Html.DisplayFor(m => m.Transaction.Type) #@Model.Transaction.Number</h5></div>
        <div><h5>@Model.Transaction.TimeStamp</h5></div>
        <a asp-page="/ShowFile" Condition="@Model.Transaction.DocumentId.HasValue" asp-route-fileId="@Model.Transaction.DocumentId" target="_blank" class="btn btn-primary mx-1 ml-auto">@Localizer["Beleg"]</a>
    </div>

    @if (Model.Transaction.Seller != null)
    {
        <div class="card-body">
            <partial name="/Pages/Sellers/_SmallDetails.cshtml" model="@Model.Transaction.Seller" />
            <a velo-page="@Model.GetSellerDetailsPage()">@Localizer["Details"]</a>
        </div>
    }
</div>

<div class="card my-3">
    <h5 class="card-header">@Localizer["Artikel"]</h5>
    <div class="card-body p-0">
        @if (Model.Transaction.Products.Count > 0)
        {
            <partial name="/Pages/Products/_ProductsView.cshtml" model="Model.Products" />
        }
    </div>
</div>
