@model TransactionItemViewModel
<th scope="row">@Html.DisplayFor(vm => vm.Transaction.Number)</th>
<td>@Html.DisplayFor(vm => vm.Transaction.TimeStamp)</td>
<td Condition="Model.ShowType">@Html.DisplayFor(vm => vm.Transaction.Type)</td>
<td>@Html.DisplayFor(vm => vm.ProductCount)</td>
<td>
    @if (Model.ShowNotes)
    {
        @Html.DisplayFor(vm => vm.Transaction.Notes)
    }
</td>
<td align="right">@Html.DisplayFor(vm => vm.Amount)</td>
<td Condition="Model.ShowDocumentLink">
    @if (Model.Transaction.DocumentId != null)
    {
        <a velo-page="@Model.GetDocumentPage()" target="_blank">@Localizer["Beleg"]</a>
    }
</td>