@page
@model CreateSingleModel

@{
    if (Model.TransactionType == TransactionType.Lock)
    {
        ViewData["Title"] = Localizer["Artikel {0} sperren", Model.Product.Id];
    }
    else if (Model.TransactionType == TransactionType.MarkAsGone)
    {
        ViewData["Title"] = Localizer["Artikel {0} als verschwunden markieren", Model.Product.Id];
    }
    else if (Model.TransactionType == TransactionType.Release)
    {
        ViewData["Title"] = Localizer["Artikel {0} freischalten", Model.Product.Id];
    }
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div><h5>@ViewData["Title"]</h5></div>

            <partial name="/Pages/Products/_StateBadge.cshtml" model="@Model.Product" />

            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["OK"]" class="btn btn-primary mx-1" velo-parameter="@Model.GetPostParameter()" />
                <a href="@Request.Headers["Referer"]" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <partial name="/Pages/Products/_Properties.cshtml" model="@Model.Product" />

            <div class="form-group">
                <label asp-for="@Model.Notes" class="control-label"></label>
                <input asp-for="@Model.Notes" class="form-control" />
            </div>
        </div>
    </div>
</form>