@page
@model DetailsModel

@{
    ViewData["Title"] = $"{Html.DisplayTextFor(m => m.TransactionViewModel.Transaction.Type)} #{Model.TransactionViewModel.Transaction.Number}";
}

<partial name="/Pages/Transactions/_DetailsView.cshtml" model="@Model.TransactionViewModel" />

<div Condition="@Model.Parameter.ShowSuccess" class="alert alert-success" role="alert">
    @Localizer["{0} erfolgreich!", Html.DisplayFor(m => m.TransactionViewModel.Transaction.Type)]
</div>

<div Condition="@Model.TransactionViewModel.Transaction.Products.Count <= 0 && Model.TransactionViewModel.Transaction.Type == TransactionType.Sale" class="alert alert-warning" role="alert">
    @Localizer["Es wurden alle Artikel des Verkaufs storniert."]
</div>

<form method="post" velo-page="@Model.GetChangePage()" Condition="Model.Parameter.ShowChange">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div><h5 class="mx-2">@Localizer["Rückgeld"]</h5></div>

            <div class="d-flex align-items-md-center" Condition="Model.CanInputAmountGiven">
                <label asp-for="AmountGiven" class="mx-2"></label>
                <input asp-for="AmountGiven" class="form-control" />
            </div>

            <div class="d-flex justify-content-end" Condition="Model.CanInputAmountGiven">
                <input type="submit" value="@Localizer["Wechselgeld berechnen"]" class="btn btn-primary mx-1" />
            </div>
        </div>

        <div class="card-body p-0" Condition="Model.ChangeInfo != null">
            <div Condition="!Model.ChangeInfo.IsValid" class="alert alert-danger m-0" role="alert">
                @Localizer["Der gegebene Betrag {0:C} muss größer als die Verkaufssumme {1:C} sein!", Model.AmountGiven, Model.TransactionViewModel.Amount]
            </div>
            <partial name="/Pages/Shared/_ChangeInfo.cshtml" model="Model.ChangeInfo" />
        </div>
    </div>
</form>

@section Scripts {

@if (Model.Parameter.OpenDocument == true)
{
    <script type="text/javascript">
        window.open("@Model.GetOpenDocumentPath()", "_blank");
    </script>
}

@if (Model.Parameter.ShowChange == true && Model.AmountGiven == 0.0m)
{
    <script type="text/javascript">
        $("#AmountGiven").val("");
        $("#AmountGiven").focus();
    </script>
}
}
