@page
@model RevertModel

@{
    if (Model.TransactionViewModel.Transaction.Type == TransactionType.Settlement)
    {
        ViewData["Title"] = Localizer["Abrechnung zurücksetzen"];
    }
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div><h5>@ViewData["Title"]</h5></div>

            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["OK"]" class="btn btn-primary mx-1" velo-parameter="@Model.GetPostParameter()" />
                <a href="@Request.Headers["Referer"]" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>
    </div>

    <partial name="/Pages/Transactions/_DetailsView.cshtml" model="@Model.TransactionViewModel" />
</form>