@model SellerCreateForAcceptanceModel
@{
    ViewData.SetTitle(Localizer[VeloTexts.AcceptanceCreateSeller]);
}

<form method="post">
    <div class="card m-2">
        @VeloHtml.TitleCardHeader()
        <div class="card-body">
            <partial name="_NameEdit.cshtml" model="Model.Seller" />

            <div class="mb-2">
                <button class="btn btn-primary" formaction="@Router.Seller.ToSearchForAcceptance()">@Localizer[VeloTexts.Search]</button>

                @if (Model.HasSearched)
                {
                    @if (Model.FoundSellers.Any())
                    {
                        @(VeloHtml.SellersTable(Model.FoundSellers)
                            .Column(c => c.ForLink(item => Router.Seller.ToCreateForAcceptance(item.Id), Localizer[VeloTexts.Apply]))
                            .Build())
                    }
                    else
                    {
                        @Localizer[VeloTexts.NoSellerFound]
                    }
                }
            </div>

            <partial name="_AllButNameEdit.cshtml" model="Model.Seller" />

        </div>
        <div class="card-footer">
            <button class="btn btn-primary" formaction="@Router.Seller.ToCreateForAcceptance()">@Localizer[VeloTexts.Continue]</button>
        </div>
    </div>
</form>
