@model ListModel<AcceptSessionEntity, AcceptSessionListParameter>
@inject ISelectListService SelectLists
@{
    ViewData.SetTitle(Localizer[VeloTexts.AcceptSessionList, Model.TotalItemCount]);
}

<form method="get">
    <div class="card m-2">
        <div class="card-header">
            <div class="row align-items-center">
                <h4 class="col-auto m-0">@ViewData.Title()</h4>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col-auto">
                    <div class="input-group">
                        @VeloHtml.Select(nameof(Parameters.ProductListParameter.BasarId), Model.Parameter.BasarId, await SelectLists.BasarsAsync(), submitOnChange: true)
                        @VeloHtml.Select(nameof(Model.Parameter.AcceptSessionState), Model.Parameter.AcceptSessionState, SelectLists.AcceptStates(true), submitOnChange: true)
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            @(VeloHtml.Table(Model)
                .IdColumn()
                .Column(c => c.PercentWidth(40).Title(Localizer[VeloTexts.Start]).For(item => item.StartTimeStamp.ToHtmlTimeStamp()))
                .Column(c => c.PercentWidth(40).Title(Localizer[VeloTexts.End]).For(item => item.EndTimeStamp.ToHtmlTimeStamp()))
                .Column(c => c.PercentWidth(20).Title(Localizer[VeloTexts.ProductCount]).For(item => item.Products.Count))
                .Column( c=> c.Title(Localizer[VeloTexts.Seller]).ForLink(item => Router.Seller.ToDetails(item.SellerId), item => item.SellerId.ToHtml()))
                .Column(c => c.ForLink(item => Router.AcceptProduct.ToCreate(item.Id), Localizer[VeloTexts.Continue], item => !item.IsCompleted))
                .Column(c => c.ForLink(item => Router.AcceptSession.ToCancel(item.Id, returnToList: true), Localizer[VeloTexts.Cancel], item => !item.IsCompleted))
                .Build())
        </div>
        <div class="card-footer">
            <vc:pagination items="@Model" current-parameter="@Model.Parameter" to-list="@Router.AcceptSession.ToList"></vc:pagination>
        </div>
    </div>
</form>
