@model ProductsViewModel

<table class="table table-striped m-0" Condition="Model.NotEmpty">
    <thead>
        <tr>
            <partial name="/Pages/Products/_ProductViewRowHeader.cshtml" model="@Model.ViewModels[0]" />
            @for (var count = 0; count < Model.Commands.Count; count++)
            {
                <th style="width: auto;" scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model.ViewModels)
        {
            <tr>
                <partial name="/Pages/Products/_ProductViewRow.cshtml" model="@viewModel" />
                @foreach (var command in Model.Commands)
                {
                    <td>
                        @if (command.IsEnabled(viewModel))
                        {
                            <a velo-page="@command.GetPage(viewModel)">@command.Text</a>
                        }
                    </td>
                }
            </tr>

            <tr Condition="@viewModel.HasAlert" class="table-danger">
                <th colspan="10">
                    @viewModel.Alert
                </th>
            </tr>
        }
    </tbody>
    <tfoot Condition="Model.ShowFooter">
        <tr>
            <partial name="/Pages/Products/_ProductViewRowFooter.cshtml" model="@Model" />
        </tr>
    </tfoot>
</table>
