@model Product
<dl class="row m-0">
    <dt class="col-1"><label asp-for="@Model.Type"></label></dt>
    <dd class="col-11">@Model.Type.Name</dd>

    <dt class="col-1"><label asp-for="@Model.Brand"></label></dt>
    <dd class="col-11">@Model.Brand.Name</dd>

    <dt Condition="!string.IsNullOrEmpty(Model.FrameNumber)" class="col-1"><label asp-for="@Model.FrameNumber"></label></dt>
    <dd Condition="!string.IsNullOrEmpty(Model.FrameNumber)" class="col-11">@Model.FrameNumber</dd>

    <dt class="col-1"><label asp-for="@Model.Description"></label></dt>
    <dd class="col-11">
        <p>@Model.Description</p>
    </dd>

    <dt class="col-1"><label asp-for="@Model.Color"></label></dt>
    <dd class="col-11">@Model.Color</dd>

    <dt class="col-1"><label asp-for="@Model.Price"></label></dt>
    <dd class="col-11">@Model.Price</dd>
</dl>