@model ProductViewModel
<th scope="row">@Html.DisplayFor(vm => vm.Product.Id)</th>
<td>@Html.DisplayFor(vm => vm.Product.Brand.Name)</td>
<td>@Html.DisplayFor(vm => vm.Product.Type.Name)</td>
<td>@Html.DisplayFor(vm => vm.Product.Color)</td>
<td>@Html.DisplayFor(vm => vm.Product.FrameNumber)</td>
<td>@Html.DisplayFor(vm => vm.Product.Description)</td>
<td>@Html.DisplayFor(vm => vm.Product.TireSize)</td>
<td Condition="Model.ShowSeller">
    <a velo-page="Model.GetSellerPage()" target="_blank">@Html.DisplayFor(vm => vm.Product.SellerId)</a>
</td>
<td align="right">@Html.DisplayFor(vm => vm.Product.Price)</td>
<td>
    <partial name="/Pages/Products/_StateBadge.cshtml" model="@Model.Product" />
</td>
