@model ListViewModel<Product>

<table class="table table-striped m-0">
    <thead>
        <tr>
            <partial name="/Pages/Products/_PropertiesTableHeader.cshtml" model="@Model.List[0].Item" />
            @for (var count = 0; count < Model.Commands.Length; count++)
            {
                <th style="width: auto;" scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var itemViewModel in Model.List)
        {
            <tr>
                <partial name="/Pages/Products/_PropertiesTableRow.cshtml" model="@itemViewModel.Item" />
                @foreach (var command in Model.Commands)
                {
                    <td>
                        @if (command.IsEnabled(itemViewModel.Item))
                        {
                            <a asp-page="@command.Page" asp-all-route-data="@command.GetRoute(itemViewModel.Item)">@command.Text</a>
                        }
                    </td>
                }
            </tr>

            <tr Condition="@itemViewModel.HasAlert" class="table-danger">
                <th colspan="10">
                    @itemViewModel.Alert
                </th>
            </tr>
        }
    </tbody>
</table>
