@page
@model AddManyModel

@{
    ViewData["Title"] = Localizer["Neue Annahme"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern und weitere Artikel eingeben"]" class="btn btn-primary mx-1" asp-all-route-data="@Model.GetRoute()" asp-route-sellerId="@Model.Seller.Id" asp-route-acceptanceId="@Model.AcceptanceId" asp-route-addAdditional="@true" />
                <input type="submit" value="@Localizer["Speichern und Annahmebeleg drucken"]" class="btn btn-primary mx-1" asp-all-route-data="@Model.GetRoute()" asp-route-sellerId="@Model.Seller.Id" asp-route-acceptanceId="@Model.AcceptanceId" />
            </div>
        </div>

        <div class="card-body p-0">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Products[0].Type)</th>
                        <th>@Html.DisplayNameFor(model => model.Products[0].Brand)</th>
                        <th>@Html.DisplayNameFor(model => model.Products[0].Color)</th>
                        <th>@Html.DisplayNameFor(model => model.Products[0].Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Products[0].FrameNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.Products[0].TireSize)</th>
                        <th>@Html.DisplayNameFor(model => model.Products[0].Price)</th>
                    </tr>
                </thead>

                <tbody>
                    @for (var index = 0; index < Model.Products.Count; index++)
                    {
                        <tr>
                            <td>
                                <input asp-for="Products[index].Type" class="form-control" />
                                <span asp-validation-for="Products[index].Type" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Products[index].Brand" class="form-control" />
                                <span asp-validation-for="Products[index].Brand" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Products[index].Color" class="form-control" />
                                <span asp-validation-for="Products[index].Color" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Products[index].Description" class="form-control" />
                                <span asp-validation-for="Products[index].Description" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Products[index].FrameNumber" class="form-control" />
                                <span asp-validation-for="Products[index].FrameNumber" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Products[index].TireSize" class="form-control" />
                                <span asp-validation-for="Products[index].TireSize" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Products[index].Price" class="form-control" />
                                <span asp-validation-for="Products[index].Price" class="text-danger"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <span asp-validation-for="Products" class="text-danger m-3"></span>
        </div>
    </div>
</form>
