@page
@model DetailsModel

@{
    ViewData["Title"] = Localizer["Artikel"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div><h5>@ViewData["Title"] #@Model.Product.Id</h5></div>

        <partial name="/Pages/Products/_StatusBadge.cshtml" model="@Model.Product" />

        <div class="d-flex justify-content-end">
            @if (Model.Product.CanCancel())
            {
                <a class="btn btn-primary mx-1" asp-page="/Cancellations/Create" asp-all-route-data="@Model.GetRoute()">@Localizer["Stornieren"]</a>
            }
            @if (Model.Product.Label != null)
            {
                <a class="btn btn-primary mx-1" asp-page="/ShowFile" asp-all-route-data="@Model.GetRoute()" asp-route-fileId="@Model.Product.Label" target="_blank">@Localizer["Etikett"]</a>
            }
            <a asp-page="/Products/Edit" asp-all-route-data="@Model.GetRoute()" class="btn btn-secondary mx-1">@Localizer["Bearbeiten"]</a>
        </div>
    </div>

    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Product.Brand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.Color)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.Description)
            </dd>

            @if (!string.IsNullOrEmpty(Model.Product.Notes))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Product.Notes)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Product.Notes)
                </dd>
            }
        </dl>
    </div>
</div>
