@page
@model BraunauMobil.VeloBasar.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.FrameNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.FrameNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.TireSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.TireSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
