@page
@model DetailsModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = Localizer["Artikel"];
    var cardStyle = "";
    if (Model.Product.IsLocked())
    {
        cardStyle = "border-danger ";
    }
    else if (Model.Product.IsGone())
    {
        cardStyle = "border-warning";
    }
}

<div class="card my-3 @cardStyle">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div><h5>@ViewData["Title"] #@Model.Product.Id</h5></div>

        <partial name="/Pages/Products/_StateBadge.cshtml" model="@Model.Product" />

        <div class="d-flex justify-content-end">
            @if (SignInManager.IsSignedIn(User) && Model.Product.IsAllowed(TransactionType.Release))
            {
                <a class="btn btn-danger mx-1" velo-page="@Model.GetPage(TransactionType.Release)">@Localizer["Entsperren"]</a>
            }
            @if (Model.Product.IsAllowed(TransactionType.Lock))
            {
                <a class="btn btn-danger mx-1" velo-page="@Model.GetPage(TransactionType.Lock)">@Localizer["Sperren"]</a>
            }
            @if (Model.Product.IsAllowed(TransactionType.MarkAsGone))
            {
                <a class="btn btn-warning mx-1" velo-page="@Model.GetPage(TransactionType.MarkAsGone)">@Localizer["Verschwunden"]</a>
            }
            @if (Model.Product.Label != null)
            {
                <a class="btn btn-primary mx-1" velo-page="@Model.GetShowFilePage()" target="_blank">@Localizer["Etikett"]</a>
            }
            <a velo-page="@Model.GetEditPage()" class="btn btn-secondary mx-1">@Localizer["Bearbeiten"]</a>
        </div>
    </div>

    <div class="card-body">
        <partial name="/Pages/Products/_Properties.cshtml" model="@Model.Product" />
    </div>
</div>

<div class="card my-3 @cardStyle">
    <h5 class="card-header">@Localizer["Transaktionen"]</h5>
    <div class="card-body p-0">
        @if (Model.Transactions.NotEmpty)
        {
            <partial name="/Pages/Transactions/_TransactionsView.cshtml" model="@Model.Transactions" />
        }
    </div>
</div>
