@page
@model ListModel

@{
    ViewData["Title"] = Localizer["Artikel"];
}

<form asp-page="@Model.MyPath" method="get">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div><h5 class="mx-2">@Localizer["Artikel"]</h5></div>

            <div class="d-flex form-actions no-color align-items-md-center">
                <div class="mx-2">Suchen:</div>
                <input type="hidden" name="basarId" value="@Model.Basar.Id" />
                <input class="mx-2" type="text" name="searchString" value="@Model.CurrentFilter" />
                <input type="submit" value="@Localizer["Suchen"]" class="btn btn-secondary mx-2" /> |
                <a class="mx-2" asp-page="@Model.MyPath" asp-route-basarId="@Model.Basar.Id">@Localizer["Zurücksetzen"]</a>
            </div>

            <div class="d-flex justify-content-end">
                <select class="mx-2 custom-select" asp-for="@Model.StorageStateFilter" asp-items="ViewBag.StorageStates" onchange="this.form.submit()" name="storageState"></select>
                <select class="mx-2 custom-select" asp-for="@Model.ValueStatusFilter" asp-items="ViewBag.ValueStates" onchange="this.form.submit()" name="valueState"></select>
            </div>
        </div>

        <div class="card-body p-0">
            @if (Model.Products.List.Any())
            {
                <partial name="/Pages/Products/_TableWithControls.cshtml" model="@Model.Products" />
            }
        </div>
    </div>
</form>

<partial name="/Pages/Shared/_Pagination.cshtml" model="@Model.Products" />
