@page
@model ListModel

@{
    ViewData["Title"] = Localizer["Artikel"];
}

<form velo-page="@Model.GetSearchPage()" method="get">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div><h5 class="mx-2">@Localizer["Artikel"]</h5></div>

            <partial name="/Pages/Shared/_Search.cshtml" model="@Model" />

            <div class="d-flex justify-content-end">
                <select class="mx-2 custom-select" asp-for="@Model.StorageStateFilter" asp-items="ViewBag.StorageStates" onchange="this.form.submit()" name="storageState"></select>
                <select class="mx-2 custom-select" asp-for="@Model.ValueStateFilter" asp-items="ViewBag.ValueStates" onchange="this.form.submit()" name="valueState"></select>
                <select class="mx-2 custom-select" asp-for="@Model.BrandFilter" asp-items="ViewBag.Brands" onchange="this.form.submit()" name="BrandId"></select>
                <select class="mx-2 custom-select" asp-for="@Model.ProductTypeFilter" asp-items="ViewBag.ProductTypes" onchange="this.form.submit()" name="ProductTypeId"></select>
            </div>
        </div>

        <div class="card-body p-0">
            @if (Model.Products.NotEmpty)
            {
                <partial name="/Pages/Products/_ProductsView.cshtml" model="@Model.Products" />
            }
        </div>
    </div>
</form>

<partial name="/Pages/Shared/_Pagination.cshtml" model="@Model.Products" />
