@model ListViewModel<Seller>

<div class="card-body p-0">
    <table class="table table-striped m-0">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.LastName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.Street)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.City)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.ZIP)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.List[0].Item.Country)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemViewModel in Model.List)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => itemViewModel.Item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => itemViewModel.Item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => itemViewModel.Item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Street)</td>
                    <td>@Html.DisplayFor(modelItem => itemViewModel.Item.City)</td>
                    <td>@Html.DisplayFor(modelItem => itemViewModel.Item.ZIP)</td>
                    <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Country.Name)</td>
                    <td>
                        @foreach (var command in Model.Commands)
                        {
                            if (command.IsEnabled(itemViewModel.Item))
                            {
                                <a asp-page="@command.Page" asp-all-route-data="@command.GetRoute(itemViewModel.Item)">@command.Text</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

