@model ViewModels.ViewModel<BraunauMobil.VeloBasar.Models.Seller>

@using Microsoft.AspNetCore.Mvc.Localization
@using VeloBasar.Resources

@inject IHtmlLocalizer<SharedResource> Localizer

<h4>@($"{Localizer["Verkäufer"].Value} #{Model.Value.Id}")</h4>

<div>
    @Html.DisplayFor(model => model.Value.FirstName)
    @Html.DisplayFor(model => model.Value.LastName)
    <br />
    @Html.DisplayFor(model => model.Value.Street)
    <br />
    @Html.DisplayFor(model => model.Value.ZIP)
    -
    @Html.DisplayFor(model => model.Value.City)
    <br />
    @Html.DisplayFor(model => model.Value.Country.Name)
    <br />
    <a asp-page="/Sellers/Details" asp-all-route-data="@Model.GetRoute()" asp-route-sellerId="@Model.Value.Id">@Localizer["Details"]</a>
</div>
