@page
@model BraunauMobil.VeloBasar.Pages.Sellers.DeleteModel

@using Microsoft.AspNetCore.Mvc.Localization
@using VeloBasar.Models
@using VeloBasar.Resources
@using VeloBasar.ViewModels;

@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Verkäufer Löschen"];
}

<h2>@ViewData["Title"]</h2>

<h3>@Localizer["Sind Sie sicher, dass sie diesen Verkäufer löschen wollen?"]</h3>


<div>
    <hr />
    <partial name="/Pages/Sellers/_SmallDetails.cshtml" model="@new ViewModel<Seller>(Model.Basar, Model.Seller);" />

    <form method="post">
        <input type="submit" asp-all-route-data="@Model.GetRoute()" asp-route-sellerId="@Model.Seller.Id" value="@Localizer["Löschen"]" class="btn btn-default" />
        <a href="@Request.Headers["Referer"]" class="btn btn-default">@Localizer["Abbrechen"]</a>
    </form>
</div>
