@page
@model BraunauMobil.VeloBasar.Pages.Sellers.DetailsModel
@{
    ViewData["Title"] = "Verkäuferin";
}

<h2>#@Model.Seller.Id @Html.DisplayFor(model => model.Seller.FirstName) @Html.DisplayFor(model => model.Seller.LastName)</h2>

<a asp-page="/Products/AddMany" asp-all-route-data="@Model.GetRoute()" asp-route-sellerId="@Model.Seller.Id" class="btn btn-default">Artikel annehmen</a>
@if (Model.CanSettle)
{
    <a asp-page="/Settlements/CreateAndPrint" asp-all-route-data="@Model.GetRoute()" asp-route-sellerId="@Model.Seller.Id" target="_blank" class="btn btn-default">Abrechnen</a>
}
|
<a asp-page="./Edit" asp-all-route-data="@Model.GetSellerRoute()" class="btn btn-default">Bearbeiten</a>
<a asp-page="./Delete" asp-all-route-data="@Model.GetSellerRoute()" class="btn btn-default">Löschen</a>

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Seller.Street)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.Street)</dd>

        <dt>@Html.DisplayNameFor(model => model.Seller.City)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.City)</dd>

        <dt>@Html.DisplayNameFor(model => model.Seller.ZIP)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.ZIP)</dd>

        <dt>@Html.DisplayNameFor(model => model.Seller.Country)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.Country.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Seller.IBAN)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.IBAN)</dd>

        <dt>@Html.DisplayNameFor(model => model.Seller.BIC)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.BIC)</dd>

        <dt>@Html.DisplayNameFor(model => model.Seller.BankAccountHolder)</dt>
        <dd>@Html.DisplayFor(model => model.Seller.BankAccountHolder)</dd>

        <dt>@Html.DisplayNameFor(model => model.Stats.AceptedProductCount)</dt>
        <dd>@Html.DisplayFor(model => model.Stats.AceptedProductCount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Stats.SoldProductCount)</dt>
        <dd>@Html.DisplayFor(model => model.Stats.SoldProductCount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Stats.NotSoldProductCount)</dt>
        <dd>@Html.DisplayFor(model => model.Stats.NotSoldProductCount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Stats.SettlementAmout)</dt>
        <dd>@Html.DisplayFor(model => model.Stats.SettlementAmout)</dd>


    </dl>
    <hr />
</div>

<h4>Artikel</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Products[0].Id)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].Brand)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].Type)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].Color)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].FrameNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].Description)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].TireSize)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].Price)</th>
                <th>@Html.DisplayNameFor(model => model.Products[0].Status)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>@Html.DisplayFor(modelItem => item.FrameNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.TireSize)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    <a asp-page="/Products/Edit" asp-all-route-data="@Model.GetItemRoute(item)">Bearbeiten</a> |
                    <a asp-page="/Products/Delete" asp-all-route-data="@Model.GetItemRoute(item)">Löschen</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
