@page
@model EditModel

@{
    ViewData["Title"] = Localizer["Verkäufer bearbeiten"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" asp-route-target="@Request.Headers["Referer"]" />
                <a href="@Request.Headers["Referer"]" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group row">
                <label asp-for="Seller.FirstName" class="col-2 col-form-label"></label>
                <input asp-for="Seller.FirstName" class="col-10 form-control" velo-validation-for="Seller.FirstName" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.LastName" class="col-2 col-form-label"></label>
                <input asp-for="Seller.LastName" class="col-10 form-control" velo-validation-for="Seller.LastName" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.Street" class="col-2 col-form-label"></label>
                <input asp-for="Seller.Street" class="col-10 form-control" velo-validation-for="Seller.Street" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.City" class="col-2 col-form-label"></label>
                <input asp-for="Seller.City" class="col-10 form-control" velo-validation-for="Seller.City" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.ZIP" class="col-2 col-form-label"></label>
                <input asp-for="Seller.ZIP" class="col-10 form-control" velo-validation-for="Seller.ZIP" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.CountryId" class="col-2 col-form-label"></label>
                <select asp-for="Seller.CountryId" class="col-10 form-control" asp-items="ViewBag.Countries"></select>
            </div>
            <div class="form-group row">
                <label asp-for="Seller.PhoneNumber" class="col-2 col-form-label"></label>
                <input asp-for="Seller.PhoneNumber" class="col-10 form-control" velo-validation-for="Seller.PhoneNumber" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.IBAN" class="col-2 col-form-label"></label>
                <input asp-for="Seller.IBAN" class="col-10 form-control" velo-validation-for="Seller.IBAN" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.BankAccountHolder" class="col-2 col-form-label"></label>
                <input asp-for="Seller.BankAccountHolder" class="col-10 form-control" velo-validation-for="Seller.BankAccountHolder" />
            </div>
            <div class="form-group row">
                <label asp-for="Seller.Token" class="col-2 col-form-label"></label>
                <input asp-for="Seller.Token" class="col-10 form-control" velo-validation-for="Seller.Token" />
            </div>
        </div>
    </div>
</form>
