@page
@model EditModel

@{
    ViewData["Title"] = Localizer["Verkäufer bearbeiten"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" asp-all-route-data="@Model.GetRoute()" asp-route-target="@Request.Headers["Referer"]" />
                <a href="@Request.Headers["Referer"]" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <div class="column">
                <input type="hidden" asp-for="Seller.Id" />
                <div class="form-group">
                    <label asp-for="Seller.FirstName" class="control-label"></label>
                    <input asp-for="Seller.FirstName" class="form-control" velo-validation-for="Seller.FirstName" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.LastName" class="control-label"></label>
                    <input asp-for="Seller.LastName" class="form-control" velo-validation-for="Seller.LastName" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.Street" class="control-label"></label>
                    <input asp-for="Seller.Street" class="form-control" velo-validation-for="Seller.Street" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.City" class="control-label"></label>
                    <input asp-for="Seller.City" class="form-control" velo-validation-for="Seller.City" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.ZIP" class="control-label"></label>
                    <input asp-for="Seller.ZIP" class="form-control" velo-validation-for="Seller.ZIP" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.CountryId" class="control-label"></label>
                    <select asp-for="Seller.CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Seller.IBAN" class="control-label"></label>
                    <input asp-for="Seller.IBAN" class="form-control" velo-validation-for="Seller.IBAN" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.BIC" class="control-label"></label>
                    <input asp-for="Seller.BIC" class="form-control" velo-validation-for="Seller.BIC" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.BankAccountHolder" class="control-label"></label>
                    <input asp-for="Seller.BankAccountHolder" class="form-control" velo-validation-for="Seller.BankAccountHolder" />
                </div>
                <div class="form-group">
                    <label asp-for="Seller.Token" class="control-label"></label>
                    <input asp-for="Seller.Token" class="form-control" velo-validation-for="Seller.Token" />
                </div>
            </div>
        </div>
    </div>
</form>
