@page
@model ListModel

@{
    ViewData["Title"] = Localizer["Verkäufer"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div><h5 class="mx-2">@Localizer["Verkäufer"]</h5></div>
        <partial name="/Pages/Shared/_Search.cshtml" model="@Model" />
        <div><a class="ml-auto btn btn-primary" asp-page="/Sellers/Create">@Localizer["Neuer Verkäufer"]</a></div>
    </div>

    <div class="card-body p-0">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th style="width: auto;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.Id)</th>
                    <th style="width: 20%;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.FirstName)</th>
                    <th style="width: 20%;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.LastName)</th>
                    <th style="width: 20%;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.Street)</th>
                    <th style="width: 20%;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.City)</th>
                    <th style="width: 5%;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.ZIP)</th>
                    <th style="width: 15%;" scope="col">@Html.DisplayNameFor(model => model.Sellers.List[0].Item.Country)</th>
                    <th style="width: auto;" scope="col"></th>
                    <th style="width: auto;" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemViewModel in Model.Sellers.List)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => itemViewModel.Item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => itemViewModel.Item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => itemViewModel.Item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Street)</td>
                        <td>@Html.DisplayFor(modelItem => itemViewModel.Item.City)</td>
                        <td>@Html.DisplayFor(modelItem => itemViewModel.Item.ZIP)</td>
                        <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Country.Name)</td>
                        <td>
                            <a asp-page="/Sellers/Edit" asp-all-route-data="@Model.GetItemRoute(itemViewModel.Item)">@Localizer["Bearbeiten"]</a>
                        </td>
                        <td>
                            <a asp-page="/Sellers/Details" asp-all-route-data="@Model.GetItemRoute(itemViewModel.Item)">@Localizer["Details"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="/Pages/Shared/_Pagination.cshtml" model="@Model.Sellers" />
