@page
@model BraunauMobil.VeloBasar.Pages.Sellers.ListModel

@using Microsoft.AspNetCore.Mvc.Localization
@using VeloBasar.Resources

@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Verkäufer"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div><h5 class="mx-2">@Localizer["Verkäufer"]</h5></div>
        <partial name="/Pages/Shared/_Search.cshtml" model="@Model" />
        <div><a class="ml-auto btn btn-primary" asp-page="/Sellers/Create">@Localizer["Neuer Verkäufer"]</a></div>
    </div>

    <div class="card-body p-0">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].FirstName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].LastName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].Street)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].City)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].ZIP)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sellers[0].Country)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sellers)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Street)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.ZIP)</td>
                        <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
                        <td>
                            <a asp-page="/Sellers/Edit" asp-all-route-data="@Model.GetItemRoute(item)">@Localizer["Bearbeiten"]</a> |
                            <a asp-page="/Sellers/Details" asp-all-route-data="@Model.GetItemRoute(item)">@Localizer["Details"]</a> |
                            <a asp-page="/Sellers/Delete" asp-all-route-data="@Model.GetItemRoute(item)">@Localizer["Löschen"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="/Pages/Shared/_Pagination.cshtml" model="@Model" />
