@model ProductAnnotateModel

<form method="post">
    <div class="card m-2">
        @VeloHtml.TitleCardHeader()
        <div class="card-body">
            @VeloHtml.HiddenInput(nameof(Model.ProductId), Model.ProductId)
            @VeloHtml.TextAreaField(nameof(Model.Notes), Model.Notes, Txt.Notes, autoFocus: true)
        </div>
        <div class="card-footer">
            <a class="btn btn-secondary" href="@Router.Product.ToDetails(Model.ProductId)">@Txt.Cancel</a>
            <button class="btn btn-primary">@Txt.Save</button>
        </div>
    </div>
</form>

