@model ExportModel
@{
    ViewData.SetTitle(Localizer[VeloTexts.PrintTest]);
}

<form method="get">
    <div class="card m-2">
        <div class="card-header">
            <h4 class="col-auto m-0">@Localizer[VeloTexts.SellersForNewsletter]</h4>            
        </div>
        <div class="card-body">
            @VeloHtml.CheckBoxField(nameof(ExportModel.UseMinPermissionDate), Model.UseMinPermissionDate, Localizer[VeloTexts.PermissionTimestampGreaterOrEqualThan])
            @VeloHtml.DateInputField(nameof(Model.MinPermissionDate), Model.MinPermissionDate, "", true)
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" formaction="@nameof(AdminController.ExportSellersForNewsletter)" >@Localizer[VeloTexts.Export]</button>
        </div>
    </div>
</form>
