@{
    ViewData.SetTitle(Txt.PrintTest);
}

<div class="card m-2">
    @VeloHtml.TitleCardHeader()
    <div class="card-body">
        <a class="btn btn-outline-primary" href="@Router.Admin.ToCreateSampleAcceptanceDocument()" target="_blank">@Txt.Singular(TransactionType.Acceptance)</a>
        <a class="btn btn-outline-primary" href="@Router.Admin.ToCreateSampleSaleDocument()" target="_blank">@Txt.Singular(TransactionType.Sale)</a>
        <a class="btn btn-outline-primary" href="@Router.Admin.ToCreateSampleSettlementDocument()" target="_blank">@Txt.Singular(TransactionType.Settlement)</a>
        <a class="btn btn-outline-primary" href="@Router.Admin.ToCreateSampleLabels()" target="_blank">@Txt.Label</a>
    </div>
</div>
