@page
@model InitialSetupModel
@{
    Layout = null;
    ViewData["Title"] = "Einrichtung";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form method="post">
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            </div>

            <div class="card-body">
                <div class="column">
                    <p>@Localizer["Bitte eine Admin E-Mail Adresse angeben. Das Passwort ist root."]</p>
                    <div class="form-group">
                        <label asp-for="Config.AdminUserEMail" class="control-label"></label>
                        <input asp-for="Config.AdminUserEMail" class="form-control" velo-validation-for="Config.AdminUserEMail" />
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => Model.Config.GenerateCountries)&nbsp;@Html.DisplayNameFor(x => Model.Config.GenerateCountries)</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => Model.Config.GenerateBrands)&nbsp;@Html.DisplayNameFor(x => Model.Config.GenerateBrands)</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => Model.Config.GenerateProductTypes)&nbsp;@Html.DisplayNameFor(x => Model.Config.GenerateProductTypes)</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => Model.Config.GenerateZipMap)&nbsp;@Html.DisplayNameFor(x => Model.Config.GenerateZipMap)</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Start" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
