@page
@model PrintSettingsModel

@{
    ViewData["Title"] = Localizer["Druckeinstellungen"];
}

    <form method="post" enctype="multipart/form-data">
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" />
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="PrintSettings.Banner" class="col-2 col-form-label"></label>
                    <div class="col-10">
                        <partial name="/Pages/Shared/_ImageData.cshtml" model="@Model.PrintSettings.Banner" />
                        <br />
                        <input type="file" asp-for="BannerUpload" accept=".jpeg,.jpg,.png,.gif, image/png,jpeg,gif">
                        <input type="submit" value="@Localizer["Hochladen"]" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PrintSettings.BannerSubtitle" class="col-2 col-form-label"></label>
                    <input asp-for="PrintSettings.BannerSubtitle" class="col-10 form-control" velo-validation-for="PrintSettings.BannerSubtitle" />
                </div>
                <div class="form-group row">
                    <label asp-for="PrintSettings.Website" class="col-2 col-form-label"></label>
                    <input asp-for="PrintSettings.Website" class="col-10 form-control" velo-validation-for="PrintSettings.Website" />
                </div>
            </div>
        </div>

        <partial name="/Pages/Setup/_MarginsEdit.cshtml" model="Model.PrintSettings.PageMargins" />

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayFor(x => Model.Acceptance.TransactionType)</h5></div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" target="_blank" velo-page="@Model.GetAcceptancePreviewPage()">@Localizer["Vorschau"]</a>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Acceptance.TitleFormat" class="col-2 col-form-label"></label>
                    <input asp-for="Acceptance.TitleFormat" class="col-10 form-control" velo-validation-for="Acceptance.TitleFormat" />
                </div>
                <div class="form-group row">
                    <label asp-for="Acceptance.SubTitle" class="col-2 col-form-label"></label>
                    <input asp-for="Acceptance.SubTitle" class="col-10 form-control" velo-validation-for="Acceptance.SubTitle" />
                </div>
                <div class="form-group row">
                    <label asp-for="Acceptance.SignatureText" class="col-2 col-form-label"></label>
                    <input asp-for="Acceptance.SignatureText" class="col-10 form-control" velo-validation-for="Acceptance.SignatureText" />
                </div>
                <div class="form-group row">
                    <label asp-for="Acceptance.TokenFormat" class="col-2 col-form-label"></label>
                    <input asp-for="Acceptance.TokenFormat" class="col-10 form-control" velo-validation-for="Acceptance.TokenFormat" />
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayFor(x => Model.Sale.TransactionType)</h5></div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" target="_blank" velo-page="@Model.GetSalePreviewPage()">@Localizer["Vorschau"]</a>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Sale.TitleFormat" class="col-2 col-form-label"></label>
                    <input asp-for="Sale.TitleFormat" class="col-10 form-control" velo-validation-for="Sale.TitleFormat" />
                </div>
                <div class="form-group row">
                    <label asp-for="Sale.SubTitle" class="col-2 col-form-label"></label>
                    <input asp-for="Sale.SubTitle" class="col-10 form-control" velo-validation-for="Sale.SubTitle" />
                </div>
                <div class="form-group row">
                    <label asp-for="Sale.FooterText" class="col-2 col-form-label"></label>
                    <input asp-for="Sale.FooterText" class="col-10 form-control" velo-validation-for="Sale.FooterText" />
                </div>
                <div class="form-group row">
                    <label asp-for="Sale.HintText" class="col-2 col-form-label"></label>
                    <input asp-for="Sale.HintText" class="col-10 form-control" velo-validation-for="Sale.HintText" />
                </div>
                <div class="form-group row">
                    <label asp-for="Sale.SellerInfoText" class="col-2 col-form-label"></label>
                    <input asp-for="Sale.SellerInfoText" class="col-10 form-control" velo-validation-for="Sale.SellerInfoText" />
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayFor(x => Model.Settlement.TransactionType)</h5></div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" target="_blank" velo-page="@Model.GetSettlementPreviewPage()">@Localizer["Vorschau"]</a>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Settlement.TitleFormat" class="col-2 col-form-label"></label>
                    <input asp-for="Settlement.TitleFormat" class="col-10 form-control" velo-validation-for="Settlement.TitleFormat" />
                </div>
                <div class="form-group row">
                    <label asp-for="Settlement.SoldTitle" class="col-2 col-form-label"></label>
                    <input asp-for="Settlement.SoldTitle" class="col-10 form-control" velo-validation-for="Settlement.SoldTitle" />
                </div>
                <div class="form-group row">
                    <label asp-for="Settlement.NotSoldTitle" class="col-2 col-form-label"></label>
                    <input asp-for="Settlement.NotSoldTitle" class="col-10 form-control" velo-validation-for="Settlement.NotSoldTitle" />
                </div>
                <div class="form-group row">
                    <label asp-for="Settlement.ConfirmationText" class="col-2 col-form-label"></label>
                    <input asp-for="Settlement.ConfirmationText" class="col-10 form-control" velo-validation-for="Settlement.ConfirmationText" />
                </div>
                <div class="form-group row">
                    <label asp-for="Settlement.SignatureText" class="col-2 col-form-label"></label>
                    <input asp-for="Settlement.SignatureText" class="col-10 form-control" velo-validation-for="Settlement.SignatureText" />
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayNameFor(x => Model.Label)</h5></div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" target="_blank" velo-page="@Model.GetLabelPreviewPage()">@Localizer["Vorschau"]</a>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Label.TitleFormat" class="col-2 col-form-label"></label>
                    <input asp-for="Label.TitleFormat" class="col-10 form-control" velo-validation-for="Label.TitleFormat" />
                </div>
                <div class="form-group row">
                    <label asp-for="Label.MaxDescriptionLength" class="col-2 col-form-label"></label>
                    <input asp-for="Label.MaxDescriptionLength" class="col-10 form-control" velo-validation-for="Label.MaxDescriptionLength" />
                </div>
            </div>
        </div>
    </form>