@page
@model PrintSettingsModel

@{
    ViewData["Title"] = Localizer["Druckeinstellungen"];
}

    <form method="post" enctype="multipart/form-data">
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" />
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label asp-for="PrintSettings.Banner" class="control-label"></label>
                    <br />
                    <partial name="/Pages/Shared/_ImageData.cshtml" model="@Model.PrintSettings.Banner" />
                    <br />
                    <input type="file" asp-for="BannerUpload" accept=".jpeg,.jpg,.png,.gif, image/png,jpeg,gif">
                    <input type="submit" value="@Localizer["Hochladen"]" />
                </div>
                <div class="form-group">
                    <label asp-for="PrintSettings.BannerSubtitle" class="control-label"></label>
                    <input asp-for="PrintSettings.BannerSubtitle" class="form-control" velo-validation-for="PrintSettings.BannerSubtitle" />
                </div>
                <div class="form-group">
                    <label asp-for="PrintSettings.Website" class="control-label"></label>
                    <input asp-for="PrintSettings.Website" class="form-control" velo-validation-for="PrintSettings.Website" />
                </div>
            </div>
        </div>

        <partial name="/Pages/Setup/_MarginsEdit.cshtml" model="Model.PrintSettings.PageMargins" />

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayFor(x => Model.Acceptance.TransactionType)</h5></div>
                <div class="d-flex justify-content-end">
                    @*@todo<a class="btn btn-secondary" velo-page="@(this.GetPage<Setup.CreatePreviewDocumentModel>(new CreatePreviewDocumentParameter(Model)))">@Localizer["Vorschau"]</a>*@
                </div>
            </div>

            <div class="card-body">
                <div class="column">
                    <div class="form-group">
                        <label asp-for="Acceptance.TitleFormat" class="control-label"></label>
                        <input asp-for="Acceptance.TitleFormat" class="form-control" velo-validation-for="Acceptance.TitleFormat" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Acceptance.SubTitle" class="control-label"></label>
                        <input asp-for="Acceptance.SubTitle" class="form-control" velo-validation-for="Acceptance.SubTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Acceptance.SignatureFormat" class="control-label"></label>
                        <input asp-for="Acceptance.SignatureFormat" class="form-control" velo-validation-for="Acceptance.SignatureFormat" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Acceptance.TokenFormat" class="control-label"></label>
                        <input asp-for="Acceptance.TokenFormat" class="form-control" velo-validation-for="Acceptance.TokenFormat" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayFor(x => Model.Sale.TransactionType)</h5></div>
                <div class="d-flex justify-content-end">
                    @*@todo<a class="btn btn-secondary" velo-page="@(this.GetPage<Setup.CreatePreviewDocumentModel>(new CreatePreviewDocumentParameter(Model)))">@Localizer["Vorschau"]</a>*@
                </div>
            </div>

            <div class="card-body">
                <div class="column">
                    <div class="form-group">
                        <label asp-for="Sale.TitleFormat" class="control-label"></label>
                        <input asp-for="Sale.TitleFormat" class="form-control" velo-validation-for="Sale.TitleFormat" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Sale.SubTitle" class="control-label"></label>
                        <input asp-for="Sale.SubTitle" class="form-control" velo-validation-for="Sale.SubTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Sale.FooterText" class="control-label"></label>
                        <input asp-for="Sale.FooterText" class="form-control" velo-validation-for="Sale.FooterText" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Sale.HintText" class="control-label"></label>
                        <input asp-for="Sale.HintText" class="form-control" velo-validation-for="Sale.HintText" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Sale.SellerInfoText" class="control-label"></label>
                        <input asp-for="Sale.SellerInfoText" class="form-control" velo-validation-for="Sale.SellerInfoText" />
                    </div>
                </div>
            </div>
        </div>
    </form>