@page
@model EditModel

@{
    ViewData["Title"] = Localizer["Typ bearbeiten"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" asp-page="@Model.GetListPage()" />
                <a asp-page="@Model.GetListPage()" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <div class="column">
                <input type="hidden" asp-for="ProductType.Id" />
                <div class="form-group">
                    <label asp-for="ProductType.Name" class="control-label"></label>
                    <input asp-for="ProductType.Name" class="form-control" velo-validation-for="ProductType.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="ProductType.State" class="control-label"></label>
                    <select asp-for="ProductType.State" asp-items="@Html.GetEnumSelectList<ObjectState>()" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
</form>
