@page
@model CartModel

@{
    ViewData["Title"] = Localizer["Neuer Verkauf"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div>
            <h5 class="mx-2">@ViewData["Title"]</h5>
        </div>

        <form method="post">
            <div class="d-flex form-actions no-color align-items-md-center">
                <div class="mx-2">@Localizer["Artikel ID:"]</div>
                <input asp-for="ProductId" velo-validation-for="ProductId" />
                <input type="submit" value="@Localizer["Hinzufügen"]" class="btn btn-primary mx-2" />
            </div>
        </form>

        <div>
            <a velo-page="(this.GetPage<ClearCartModel>())" class="ml-auto btn btn-secondary">@Localizer["Warenkob leeren"]</a>
            <a velo-page="(this.GetPage<CheckoutModel>())" class="ml-auto btn btn-primary">@Localizer["Weiter"]</a>
        </div>
    </div>

    <div class="card-body p-0">
        @if (Model.Products.List.Any())
        {
            <partial  name="/Pages/Products/_TableWithControls.cshtml" model="@Model.Products" />
        }
    </div>
</div>

<div Condition="@Model.ErrorText != null" class="alert alert-danger" role="alert">
    @Model.ErrorText
</div>


@section Scripts {
    <script type="text/javascript">
        $("#ProductId").val("");
        $("#ProductId").focus();
    </script>
}
