@page
@model CreateOrEditModel

@{
    ViewData["Title"] = Localizer["Neuer Verkauf"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div>
            <h5 class="mx-2">
                @if (Model.Sale != null)
                {
                    @Localizer["Verkauf #{0}", Model.Sale.Number]
                }
                else
                {
                    @Localizer["Neuer Verkauf"]
                }
            </h5>
        </div>
        
        <form method="post">
            <div class="d-flex form-actions no-color align-items-md-center">
                <div class="mx-2">@Localizer["Artikel ID:"]</div>
                <input asp-for="ProductId" />
                <input type="submit" value="@Localizer["Hinzufügen"]" class="btn btn-primary mx-2" asp-all-route-data="@Model.GetRoute()" asp-route-saleId="@Model.Sale?.Id" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.ErrorText))
                {
                    <div class="text-danger">@Model.ErrorText</div>
                }
            </div>
        </form>
        
        <div>
            @if (Model.Sale != null)
            {
                <a asp-page="/Sales/Print" asp-all-route-data="@Model.GetRoute()" asp-route-saleID="@Model.Sale.Id" target="_blank" class="ml-auto btn btn-primary">@Localizer["Rechnung drucken"]</a>
            }
        </div>
    </div>

    <div class="card-body p-0">
        <partial name="/Pages/Products/_Table.cshtml" model="new ListViewModel<Product>(Model.Basar, Model.Products)" />
    </div>
</div>
