@page
@model BraunauMobil.VeloBasar.Pages.Sales.ListModel

@using Microsoft.AspNetCore.Mvc.Localization
@using VeloBasar.Resources

@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Verkäufe"];
}

<h2>@Localizer["Verkäufe"]</h2>

<form asp-page="./List" method="get" asp-route-basarId="@Model.Basar.Id">
    <div class="form-actions no-color">
        <p>
            @Localizer["Suchen:"]
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="@Localizer["Suchen"]" class="btn btn-default" /> |
            <a asp-page="./List" asp-route-basarId="@Model.Basar.Id">@Localizer["Zurücksetzen"]</a>
</p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sales)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    <a asp-page="./Details" asp-all-route-data="@Model.GetRoute()" asp-route-saleId="@item.Id">@Localizer["Details"]</a>
</td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Sales.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sales.HasNextPage ? "disabled" : "";
}

<a asp-page="./List"
   asp-all-route-data="@Model.GetRoute()"
   asp-route-pageIndex="@(Model.Sales.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    @Localizer["<<<"]
</a>
<a asp-page="./List"
   asp-all-route-data="@Model.GetRoute()"
   asp-route-pageIndex="@(Model.Sales.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    @Localizer[">>>"]
</a>