@model InitializationConfiguration
@{
    Layout = "_LayoutSimple";
    ViewData.SetTitle(Localizer[VeloTexts.InitialSetup]);
}

<form method="post">
    <div class="card m-2">
        <div class="card-header align-items-center">
            <h2>velo-basar</h2>
            <h4>@ViewData.Title()</h4>
        </div>
        <div class="card-body">
            @VeloHtml.EmailInputField(nameof(Model.AdminUserEMail), Model.AdminUserEMail, Localizer[VeloTexts.AdminUserEMail], autoFocus: true)
            @VeloHtml.CheckBoxField(nameof(Model.GenerateCountries), Model.GenerateCountries, Localizer[VeloTexts.GenerateCountries])
            @VeloHtml.CheckBoxField(nameof(Model.GenerateProductTypes), Model.GenerateProductTypes, Localizer[VeloTexts.GenerateProductTypes])
            @VeloHtml.CheckBoxField(nameof(Model.GenerateZipCodes), Model.GenerateZipCodes, Localizer[VeloTexts.GenerateZipCodes])
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">@Localizer[VeloTexts.Ok]</button>
        </div>
    </div>
</form>
