@page
@model DoneModel

@{
    ViewData["Title"] = Localizer["Storno erfolgreich"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div class="mr-auto"><h5>@Localizer["Stornierte Artikel"]</h5></div>
    </div>

    <div class="card-body p-0">
        <partial name="/Pages/Products/_ProductsView.cshtml" model="Model.CancelledProducts" />
    </div>

    <div class="card-footer">
        <div class="row d-flex justify-content-between align-items-center m-1">
            <h5>@Html.DisplayNameFor(model => model.PayoutAmout)</h5> 
            <h5>@Html.DisplayFor(model => model.PayoutAmout)</h5>
        </div>
    </div>
</div>


<div Condition="Model.Sale != null" class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div class="mr-auto"><h5>@Localizer["Aktualisierter Verkauf"]</h5></div>
        <div class="d-flex justify-content-end">
            <a velo-page="(this.GetPage<ShowFileModel>(new ShowFileParameter { FileId = Model.Sale.DocumentId.Value }))" class="btn btn-primary" target="_blank">@Localizer["Rechnungsbeleg"]</a>
        </div>
    </div>

    <div class="card-body p-0">
        @if (Model.SaleProducts.NotEmpty)
        {
            <partial name="/Pages/Products/_ProductsView.cshtml" model="Model.SaleProducts" />
        }
    </div>
</div>

<div Condition="@Model.Sale.Products.Count <= 0" class="alert alert-warning" role="alert">
    @Localizer["Es wurden alle Artikel des Verkaufs storniert."]
</div>

