@page
@model SelectProductsModel

@{
    ViewData["Title"] = Localizer["Artikel zum Stornieren auswählen"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Stornieren"]" class="btn btn-primary mx-1" asp-all-route-data="@Model.GetRoute()" />
            </div>
        </div>

        <div>

        <div class="card-body">
            <span Condition="Model.ErrorMessage != null" class="text-danger">@Model.ErrorMessage</span>
            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th style="width: auto;" scope="col"></th>
                        <th style="width: auto;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.Id)</th>
                        <th style="width: 10%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.Brand)</th>
                        <th style="width: 10%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.Type)</th>
                        <th style="width: 20%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.Color)</th>
                        <th style="width: 10%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.FrameNumber)</th>
                        <th style="width: 30%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.Description)</th>
                        <th style="width: 10%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.TireSize)</th>
                        <th style="width: 10%;" scope="col">@Html.DisplayNameFor(model => model.Products.List[0].Item.Price)</th>
                        <th style="width: auto;" scope="col">@Localizer["Status"]</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < Model.Products.List.Count; index++)
                    {
                    <tr>
                        <td scope="row">
                            <input asp-for="Products.List[index].IsSelected" class="form-check" />
                        </td>
                        <td>
                            <input type="hidden" asp-for="Products.List[index].Item.Id" />
                            @Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.Id)
                        </td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.Brand.Name)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.Type.Name)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.Color)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.FrameNumber)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.TireSize)</td>
                        <td>@Html.DisplayFor(modelItem => modelItem.Products.List[index].Item.Price)</td>
                        <td>
                            <partial name="/Pages/Products/_StateBadge.cshtml" model="@Model.Products.List[index].Item" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>




